<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Donations</title>
  
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="/index.css"/>
  <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3"></script>
</head>
<body>
  <main class="flow">
    {% block content %}
      <h1>{{ heading }}</h1>
      <p class="subtitle">{{ subtitle }}</p>
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    <p>Based on an episode of <a href="https://www.learnwithjason.dev/accept-donations-on-jamstack-sites">Learn With Jason</a>.</p>
  </footer>
  <script src="/scripts/app.js"></script>
</body>
</html>