---
title: Globe
heading: Globe
---

{% extends "base.html" %}

{% block content %}
  <h1>{{ heading }}</h1>
  <canvas
  id="cobe"
  style="width: 343px; height: 343px;"
  width="686"
  height="686"
></canvas>
{% endblock %}